<%= stylesheet_link_tag "index.css" %>


<header>
    <div class="title"><strong>CAFE</strong></div>
</header>

<div class=body_container>
    <aside>
        <ul>
            <li class="task_views"> </li>
            <li class="task_views"> </li>
        </ul>
    </aside>

    <div class="timers_container">
        <ul class = "alarm">
        <li class="alarm_item"> 
            <div class="timer_bar" id="timer_bar" style="animation-duration: 4s ;"></div>
            <H1 class="alarm_text">TASK ONE</H1>
            <H1 class="alarm_countdown">00:00</H1> <!--can get rid of this if the clock doesn't work out -->
        </li>
        </ul>

    </div>

</div>